# Terraform-specific
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
crash.log

# System files
.DS_Store

# Editor files
*.swp
.vscode/

# Helm pull files (ArgoCD 관련)
argocd/
argocd/**

# Helm-generated YAML
*.release.yaml
*.values.yaml

# 기타 환경 파일
.kube/
Secret/

*.pem


