# Terraform-specific
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
terraform/kko/output.json
crash.log
monitoring/*
AI/ai-efs-sa*
# System files
.DS_Store

# Editor files
*.swp
.vscode/

# Helm pull files (ArgoCD 관련)
argo-cd*/
kube-prometheus-stack-*/

# Helm-generated YAML
*.release.yaml
*.values.yaml

# 기타 환경 파일
.kube/

# Secret 파일 제외
*.secret.yaml
*secret.yaml
*.env

*.pem


