# Terraform 관련
.terraform/               
*.tfstate                 
*.tfstate.backup          
terraform.tfstate.d/      


# Terraform 실행 결과
output.json               

# Terraform 설정 파일 (환경 변수 설정)
*.tfvars                
*.tfvars.json             

# Terraform Lock 파일 (다른 환경에서 provider 충돌 방지)
.terraform.lock.hcl

# Shell 스크립트 실행 결과
*.sh

# Editor/IDE 설정 파일 (VSCode, IntelliJ)
.vscode/
.idea/
*.swp                    